

/** 
 * @brief {{record['name']}} {%if record.get('destructor')%}destructor {%endif%} {%if record.get('constructor')%}constructor {%endif%}
 *
{%for tparam in tparams%} * @tparam {{tparam[0]}}{%if tparam[1]%} default {{tparam[1]}}{%endif%}
{%endfor%}{%if tparams%} *
{%endif%}{%for param in record['parameters']%} * @param {%if not param['name'] or param['name'] == '&'%}{{param['type']}}{%else%}{{param['name']}}{%endif%}
{%endfor%}{%if record.get('returns') and record['returns'] != 'void'%} * @return {{record['returns']}}
{%endif%} */